---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import jeffrey from "../images/jeffrey.jpg";
import Section from "../components/Section.astro";
---

<Layout title="Jeffrey Liang">
  <div class="flex w-full flex-col gap-y-10">
    <section class="flex flex-col items-center gap-y-7">
      <Image
        src={jeffrey}
        alt="profile picture"
        class="h-48 w-48 rounded-full"
        loading="eager"
      />
      <h1 class="font-sans font-semibold text-center text-3xl">
        Jeffrey Liang
      </h1>
    </section>

    <Section title="About">
      <p>
        I'm a software engineer at Databricks, improving the reliability and
        performance of
        <a
          href="https://www.databricks.com/blog/introducing-databricks-lakeflow"
          target="_blank">Lakeflow Pipelines</a
        > and
        <a
          href="https://www.databricks.com/product/delta-live-tables"
          target="_blank">Delta Live Tables</a
        >.
      </p>
      <p>
        Previously, I completed two software engineering internships at Google,
        where I worked on Google Maps data infrastructure and Google Ads
        <a
          href="https://ads.google.com/intl/en_us/home/campaigns/performance-max/"
          target="_blank">Performance Max campaigns</a
        >. I graduated with a bachelor's degree in computer science from the
        University of California, Berkeley, where I also TA'd the
        <a href="https://cs186berkeley.net/" target="_blank"
          >database systems course</a
        >
        for four semesters.
      </p>
      <p>
        In my free time, I enjoy reading, listening to podcasts, solving
        puzzles, and going on long walks.
      </p>
    </Section>
    <Section title="Contact">
      <p>
        Please feel free to reach out at
        <a href="mailto:jeffreyliang@berkeley.edu">jeffreyliang@berkeley.edu</a
        >. Looking forward to talking with you!
      </p>
    </Section>
  </div>
</Layout>

<style>
  a {
    @apply text-blue-700 hover:text-blue-900;
  }
</style>
