---

---

<header class="flex w-full flex-wrap">
  <nav
    class="flex flex-row w-full items-center justify-end py-10 space-x-7"
    aria-label="global"
  >
    <a
      href="/resume.pdf"
      class="font-medium"
      target="_blank"
    >R&eacute;sum&eacute;</a>
    <a
      href="https://www.linkedin.com/in/jeffreypliang/" 
      class="font-medium" 
      target="_blank"
    >LinkedIn</a>
  </nav>
</header>

<style>
  a {
    @apply hover:text-gray-700;
  }
</style>
