---
import "@fontsource-variable/inter";
import "@fontsource/source-serif-pro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Jeffrey Liang's personal website." />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center">
    <main
      class="flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-10"
    >
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
